.error {
    background: #f2dede;
    border: 1px solid #eed3d7;
    color: #b94a48;
    display: block;
    padding: 5px 15px;
    width: auto;
}

.errorblock {
    background: #f2dede;
    border: 1px solid #eed3d7;
    padding: 20px;
    font-size: 0.9em;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}
