<!DOCTYPE html>
<html th:lang="${#locale.language == 'en' ? 'en' : 'ru'}" lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>PersonKeeper</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel="stylesheet" href="../../static/css/main.css" th:href="@{ ${@Url.MAIN_CSS} }"/>
</head>
<body>

    <div id="header">
        <div>
            <a th:href="@{?locale=en}" href="?locale=en">EN</a>
            |
            <a th:href="@{?locale=ru}" href="?locale=ru">RU</a>
        </div>

        <div sec:authorize="isAuthenticated()">
            <form method="post" th:action="@{ ${@Url.LOGOUT} }" action="show.html">
                <span th:text="#{user.welcome}">Welcome, </span>
                <span class="username" sec:authentication="principal.username">username</span>
                <input type="submit" value="Logout" th:value="#{user.logout}"/>
            </form>
        </div>
        <!--/*/
        <div sec:authorize="!isAuthenticated()">
            <span class="not-logged-text" th:text="#{user.notLogged}">User not logged in</span>
            <a th:href="@{ ${@Url.LOGIN} }" href="../login.html">
                <button type="button" th:text="#{user.login}">Login</button>
            </a>
        </div>
        /*/-->
    </div>

    <div id="content">
        <h2 th:text="#{title.editPerson}">Edit person</h2>
        <form method="post" action="person.html"
              th:action="@{ ${@Url.EDIT_PERSON} (id = *{id}) }"
              th:object="${person}">
            <input type="hidden" name="id" th:value="*{id}"/>
            <table>
                <tr>
                    <td th:text="#{person.Name}">Name</td>
                    <td><input type="text" name="name" th:value="*{name}" value="John Smith"/></td>
                    <!--/*/
                    <td><span th:errors="*{name}" class="error" /></td>
                    /*/-->
                </tr>
                <tr>
                    <td th:text="#{person.Age}">Age</td>
                    <td><input type="text" name="age" th:value="*{age}" value="55"/></td>
                    <!--/*/
                    <td><span th:errors="*{age}" class="error" /></td>
                    /*/-->
                </tr>
                <tr>
                    <td></td>
                    <td align="right"><input type="submit" th:value="#{label.edit}" value="Edit"/></td>
                    <td></td>
                </tr>
            </table>
        </form>
        <br />
        <a href="show.html"
           th:href="@{ ${@Url.SHOW_PERSON} }"
           th:text="#{link.personList}">&laquo; Back to person list</a>
    </div>
</body>
</html>


