<!DOCTYPE html>
<html th:lang="${#locale.language == 'en' ? 'en' : 'ru'}" lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>PersonKeeper</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/css/main.css" />
</head>
<body>

    <div id="header">
        <div>
            <a th:href="@{?locale=en}">EN</a>&nbsp;|&nbsp;<a th:href="@{?locale=ru}">RU</a>
        </div>

        <div sec:authorize="isAuthenticated()">
            <form method="post" th:action="@{/logout}">
                <span th:text="#{user.welcome}">welcome</span>
                <span class="bold" sec:authentication="principal.username">username</span>
                <input type="submit" value="logout" th:value="#{user.logout}"/>
            </form>
        </div>

        <div sec:authorize="!isAuthenticated()">
            <span class="italic" th:text="#{user.notLogged}">User not logged in</span>
            <a th:href="@{/login}"><button type="button" th:text="#{user.login}">Login</button></a>
        </div>
    </div>

    <div id="content">
        <h2 th:text="#{edit.title}">title</h2>
        <form method="post" th:action="@{/person/edit/__${person.id}__}">
            <table th:object="${person}">
                <tr>
                    <td th:text="#{person.ID}">id</td>
                    <td><input disabled="true" type="text" name="id" th:value="*{id}"/></td>
                </tr>
                <tr>
                    <td th:text="#{person.Name}">name</td>
                    <td><input type="text" name="name" th:value="*{name}"/></td>
                    <td><span th:errors="*{name}" class="error" /></td>
                </tr>
                <tr>
                    <td th:text="#{person.Age}">age</td>
                    <td><input type="text" name="age" th:value="*{age}"/></td>
                    <td><span th:errors="*{age}" class="error" /></td>
                </tr>
                <tr>
                    <td></td>
                    <td align="right"><input type="submit" th:value="#{label.edit}"/></td>
                    <td></td>
                </tr>
            </table>
        </form>
        <br />
        <a th:href="@{/person/show}" th:text="#{link.backToPersonList}">back</a>
    </div>
</body>
</html>


