<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>PersonKeeper</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/css/main.css" />
</head>
<body>

    <div id="header">
        <div>
            <a th:href="@{?locale=en}">EN</a>&nbsp;|&nbsp;<a th:href="@{?locale=ru}">RU</a>
        </div>

        <div sec:authorize="isAuthenticated()">
            <form method="post" th:action="@{/logout}">
                <span th:text="#{user.welcome}">welcome</span>
                <b sec:authentication="principal.username">username</b>
                <input type="submit" value="logout" th:value="#{user.logout}"/>
                <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
            </form>
        </div>

        <div sec:authorize="!isAuthenticated()">
            <i th:text="#{user.notLogin}">user not login</i>
            <a th:href="@{/login}"><button type="button" value="login" th:text="#{user.login}" /></a>
        </div>
    </div>

    <div id="content">
        <h2 th:text="#{person.title}">title</h2>
        <table border="1" cellpadding="5" cellspacing="0" th:object="${person}">
            <tr>
                <th th:text="#{person.ID}">id</th>
                <td th:text="*{id}">id</td>
            </tr>
            <tr>
                <th th:text="#{person.Name}"></th>
                <td th:text="*{name}">name</td>
            </tr>
            <tr>
                <th th:text="#{person.Age}"></th>
                <td th:text="*{age}">name</td>
            </tr>
        </table>
        <br />
        <a th:href="@{/person/show}" th:text="#{link.backToPersonList}">back</a>
        &nbsp;|&nbsp;
        <a th:href="@{/person/add}" th:text="#{link.addNewPerson}" sec:authorize="hasRole('ADMIN')">add</a>
    </div>
</body>
</html>

