<!DOCTYPE html>
<html th:lang="${#locale.language == 'en' ? 'en' : 'ru'}" lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>PersonKeeper</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel="stylesheet" href="../../static/css/main.css" th:href="@{ ${@Url.MAIN_CSS} }"/>
</head>
<body>

    <div id="header">
        <div>
            <a th:href="@{?locale=en}" href="?locale=en">EN</a>
            |
            <a th:href="@{?locale=ru}" href="?locale=ru">RU</a>
        </div>

        <div sec:authorize="isAuthenticated()">
            <form method="post" th:action="@{ ${@Url.LOGOUT} }" action="show.html">
                <span th:text="#{user.welcome}">Welcome, </span>
                <span class="bold" sec:authentication="principal.username">username</span>
                <input type="submit" value="Logout" th:value="#{user.logout}"/>
            </form>
        </div>

        <div sec:authorize="!isAuthenticated()">
            <span class="italic" th:text="#{user.notLogged}">User not logged in</span>
            <a th:href="@{ ${@Url.LOGIN} }" href="../login.html">
                <button type="button" th:text="#{user.login}">Login</button>
            </a>
        </div>
    </div>

    <div id="content" th:with="isAdmin=${#authorization.expression('hasRole(''ROLE_ADMIN'')')}" th:object="${person}">
        <h2 th:text="#{title.personInfo}">Person detail</h2>
        <table border="1" cellpadding="5" cellspacing="0">
            <tr>
                <th th:text="#{person.ID}">ID</th>
                <td th:text="*{id}">1</td>
            </tr>
            <tr>
                <th th:text="#{person.Name}">Name</th>
                <td th:text="*{name}">John Smith</td>
            </tr>
            <tr>
                <th th:text="#{person.Age}">Age</th>
                <td th:text="*{age}">55</td>
            </tr>
        </table>
        <br />
        <a href="show.html"
           th:href="@{ ${@Url.SHOW_PERSON} }"
           th:text="#{link.personList}">&laquo; Back to person list</a>
        <span th:if="${isAdmin}">
             |
            <a href="../confirmDelete.html"
               th:href="@{ ${@Url.CONFIRM_DELETE} (id = *{id}) }"
               th:onclick="|confirm_delete(*{id}); return false;|"
               th:text="#{label.delete}">Delete</a>
             |
            <a href="edit.html"
               th:href="@{ ${@Url.EDIT_PERSON} (id = *{id}) }"
               th:text="#{label.edit}">Edit</a>
             |
            <a href="add.html"
               th:href="@{ ${@Url.ADD_PERSON} }"
               th:text="#{link.add}">Add new person</a>
        </span>

        <script th:inline="javascript" th:if="${isAdmin}">
            function confirm_delete(id) {
                var request = [[#{request.delete}]];
                var csrf = [[${_csrf.token}]];
                var url = [[@{ ${@Url.DELETE_PERSON} }]];
                if (!confirm(request)) return false;
                $.ajax({
                    method: "POST",
                    url: url,
                    data: {
                        id: id,
                        _method: "DELETE",
                        _csrf: csrf
                    }
                }).done(function(html) {
                    $("body").html(html);
                });
            }
        </script>
    </div>
</body>
</html>

