<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      th:include="templates/template :: page">
<head>
    <title></title>
    <script th:inline="javascript" sec:authorize="hasRole('ADMIN')" th:fragment="myscript">
        function confirm_delete(id) {
            var request = [[#{delete.request}]];
            var csrf = [[${_csrf.token}]];
            var url = [[@{/person/delete}]];
            if (!confirm(request)) return false;
            $.ajax({
                method: "POST",
                url: url,
                data: {
                    id: id,
                    _method: "DELETE",
                    _csrf: csrf
                }
            }).done(function(html) {
                $("body").html(html);
            });
        }
    </script>
</head>
<body>
    <div th:fragment="content">
        <h2 th:text="#{show.title}">title</h2>
        <table border="1" cellpadding="5" cellspacing="0">
            <tr>
                <th th:text="#{show.tableHeaderId}">id</th>
                <th th:text="#{person.Name}">name</th>
                <th th:text="#{person.Age}">age</th>
                <th th:text="#{show.tableHeaderAction}" sec:authorize="hasRole('ADMIN')">action</th>
            </tr>
            <tr th:each="person : ${personList}">
                <td th:text="${personStat.count}">index</td>
                <td>
                    <a th:href="@{${person.id}}" th:text="${person.name}">name</a>
                </td>
                <td th:text="${person.age}">age</td>
                <td sec:authorize="hasRole('ADMIN')">
                    <a th:href="@{|/confirmDelete/${person.id}|}" th:onclick="|confirm_delete(${person.id}); return false;|" th:text="#{label.delete}">delete</a>
                    &nbsp;
                    <a th:href="@{|/person/edit/${person.id}|}" th:text="#{label.edit}">edit</a>
                </td>
            </tr>
            <tr>
                <td th:colspan="4" th:text="|#{show.totalPersons} ${personList.size()}|" sec:authorize="hasRole('ADMIN')">size</td>
                <td th:colspan="3" th:text="|#{show.totalPersons} ${personList.size()}|" sec:authorize="!hasRole('ADMIN')">size</td>
            </tr>
        </table>
        <br/>
        <a th:href="@{/person/add}" th:text="#{link.addNewPerson}" sec:authorize="hasRole('ADMIN')">add</a>
    </div>
</body>
</html>
