<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
    <div th:fragment="header">
        <div>
            <a th:href="@{?locale=en}">EN</a>&nbsp;|&nbsp;<a th:href="@{?locale=ru}">RU</a>
        </div>

        <div sec:authorize="isAuthenticated()">
            <form method="post" th:action="@{/logout}">
                <span th:text="#{user.welcome}">welcome</span>
                <b sec:authentication="principal.username">username</b>
                <input type="submit" value="logout" th:value="#{user.logout}"/>
                <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
            </form>
        </div>

        <div sec:authorize="!isAuthenticated()">
            <i th:text="#{user.notLogin}">user not login</i>
            <a th:href="@{/login}"><button type="button" value="login" th:text="#{user.login}" /></a>
        </div>
    </div>
</body>
</html>

