<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>PersonKeeper</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/css/main.css" />
</head>
<body>

    <div id="header">
        <div>
            <a th:href="@{?locale=en}">EN</a>&nbsp;|&nbsp;<a th:href="@{?locale=ru}">RU</a>
        </div>

        <div sec:authorize="isAuthenticated()">
            <form method="post" th:action="@{/logout}">
                <span th:text="#{user.welcome}">welcome</span>
                <b sec:authentication="principal.username">username</b>
                <input type="submit" value="logout" th:value="#{user.logout}"/>
                <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
            </form>
        </div>

        <div sec:authorize="!isAuthenticated()">
            <i th:text="#{user.notLogged}">User not logged in</i>
            <a th:href="@{/login}"><button type="button" th:text="#{user.login}">Login</button></a>
        </div>
    </div>

    <div id="content">
        <h2 class="error" th:text="#{error.title}">error</h2>
        <div>
            <b th:text="${name}">name</b>
            <span> : </span>
            <span th:text="${exception.message}">message</span>
        </div>
        <br/>
        <a th:href="@{/person/show}" th:text="#{link.backToPersonList}">back</a>
        <br/>
        <br/>
        <div class="errorblock">
            <b th:text="#{error.detailed}">detailed</b>
            <br/>
            <br/>
            <span th:each="ste : ${exception.stackTrace}">
                <span th:text="${ste}"></span>
            </span>
        </div>
    </div>
</body>
</html>

