<!DOCTYPE html>
<html th:lang="${#locale.language == 'en' ? 'en' : 'ru'}" lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>PersonKeeper</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel="stylesheet" href="../static/css/main.css" th:href="@{ ${@Url.MAIN_CSS} }"/>
</head>
<body>

    <div id="header">
        <div>
            <a th:href="@{?locale=en}" href="?locale=en">EN</a>
            |
            <a th:href="@{?locale=ru}" href="?locale=ru">RU</a>
        </div>
    </div>

    <div id="content">
        <h2 class="error" th:text="#{label.error}">Error</h2>
        <div>
            <span class="username" th:text="${name}">Error name</span>
            <span> : </span>
            <span th:text="${exception.message}">error message</span>
        </div>
        <br/>
        <a href="person/show.html"
           th:href="@{ ${@Url.SHOW_PERSON} }"
           th:text="#{link.personList}">&laquo; Back to person list</a>
        <br/>
        <br/>
        <div class="errorblock">
            <span class="detailed" th:text="#{error.detailed}">Detailed information:</span>
            <br/>
            <br/>
            <span th:each="ste : ${exception.stackTrace}">
                <span th:text="${ste}"></span>
            </span>
        </div>
    </div>
</body>
</html>

