<!DOCTYPE html>
<html th:lang="${#locale.language == 'en' ? 'en' : 'ru'}" lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>PersonKeeper</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel="stylesheet" href="../static/css/main.css" th:href="@{ ${@Url.MAIN_CSS} }"/>
</head>
<body>

    <div id="header">
        <div>
            <a th:href="@{?locale=en}" href="?locale=en">EN</a>
            |
            <a th:href="@{?locale=ru}" href="?locale=ru">RU</a>
        </div>

        <div sec:authorize="isAuthenticated()">
            <form method="post" th:action="@{ ${@Url.LOGOUT} }" action="person/show.html">
                <span th:text="#{user.welcome}">Welcome, </span>
                <span class="bold" sec:authentication="principal.username">username</span>
                <input type="submit" value="Logout" th:value="#{user.logout}"/>
            </form>
        </div>

        <div sec:authorize="!isAuthenticated()">
            <span class="italic" th:text="#{user.notLogged}">User not logged in</span>
            <a th:href="@{ ${@Url.LOGIN} }" href="login.html">
                <button type="button" th:text="#{user.login}">Login</button>
            </a>
        </div>
    </div>

    <div id="content">
        <div class="error"
             th:if="${param.error != null}"
             th:with="errorMsg=${session['SPRING_SECURITY_LAST_EXCEPTION'].message}">
            <span th:text="#{user.error}">Error header</span>
            <br />
            <span th:text="${errorMsg}">error message</span>
        </div>
        <h3 th:text="#{user.loginHeader}">Login with Username and Password</h3>
        <form method="post" th:action="@{ ${@Url.LOGIN} }" action="person/show.html">
            <table>
                <tr>
                    <td th:text="#{user.user}">User:</td>
                    <td><input name="username" value="" type="text" /></td>
                </tr>
                <tr>
                    <td th:text="#{user.password}">Password:</td>
                    <td><input name="password" type="password" /></td>
                </tr>
                <tr>
                    <td colspan="2" align="right">
                        <input type="submit" th:value="#{user.login}" value="Login"/>
                    </td>
                </tr>
            </table>
        </form>
        <a href="person/show.html"
           th:href="@{ ${@Url.SHOW_PERSON} }"
           th:text="#{link.backToPersonList}">&laquo; Back to person list</a>
    </div>
</body>
</html>
